.s-btn {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  border: 2px solid transparentize($color-light-bluish-grey, 0.5);
  cursor: pointer;
  width: 100%;
  text-decoration: none;

  font-family: $font-primary;
  color: $color-light-bluish-grey;

  transition: background-color 1s;

  &:hover {
    .s-btn__text {
      position: relative;
      animation-name: excitedBtn;
      animation-duration: 0.3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  &.s-btn--plain {
    border: 0px;
  }

  &.s-btn--google-icon {
    font-family: $font-vanilla;
    background: url(images/gcon.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 5px;

    .s-btn__text {
      margin-left: 20%;
    }
  }

  &.s-btn--flow-icon {
    font-family: $font-vanilla;
    background: url(images/flow-logo.svg);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 5px;

    .s-btn__text {
      margin-left: 20%;
    }
  }

  &.s-btn--x-icon {
    width: 20px;
    height: 20px;
    background:
     linear-gradient(to top left,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 0.8px),
         $color-light-bluish-grey 50%,
         rgba(0,0,0,0) calc(50% + 0.8px),
         rgba(0,0,0,0) 100%),
     linear-gradient(to top right,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 0.8px),
         $color-light-bluish-grey 50%,
         rgba(0,0,0,0) calc(50% + 0.8px),
         rgba(0,0,0,0) 100%);
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat;
     box-shadow: inset 0px 0px 0px 3px white;
     transition: 0.3s box-shadow;

     &:hover {
       box-shadow: inset 0px 0px 0px 0px white;
     }
  }
}
