// Utilities
// One-off classes with few properties that are used often and will rarely change

.u-float-right {
  float: right;
}

.u-text-align-center {
  text-align: center;
}

.u-margin-bottom-20 {
  margin-bottom: 20px;
}
