<div class='to-do-form'>
  <span class='to-do__checkbox'></span>
  <span class='to-do-form__name-input'>
    {{s-input value=name
      errors=errors.name
      class='s-input--show-underline'}}
  </span>
</div>
