// Vendor
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

// Style Guide
@import 'style-guide';
@import 'style-guide/s-btn';
@import 'style-guide/utilities';

// Vendor Overrides
@import 'vendor-overrides/pikaday';
@import 'vendor-overrides/timepicker';

// Components
@import 'components/s-input';
@import 'components/month-calendar';
@import 'components/day-calendar';
@import 'components/to-do-list';
@import 'components/to-do';
@import 'components/week-agenda';
@import 'components/forms/create-event-form';
@import 'components/modals/create-event-modal';
@import 'components/navigation/top-bar';

// Templates
@import 'templates/application-error';
@import 'templates/application-loading';
@import 'templates/home';
@import 'templates/login';
@import 'templates/agenda';

.application__top-bar {
  min-height: 110px;
  position: absolute;
  z-index: 100;
}

.to-dos__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
}
