.login__body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form-container {
  width: 30%;
  padding: 40px;
}

.login__sign-up-form {
  border: 3px dotted $color-t-light-grey;
  padding: 0 20px;
  transition: 0.5s border-color;

  &:hover {
    border-color: $color-light-grey;
  }
}

.login__log-in-form {
  border: 3px dotted $color-t-light-grey;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  transition: 0.5s border-color;

  &:hover {
    border-color: $color-light-grey;
  }
}

.login__h2-container {
  text-align: center;
}

.login__h2 {
  margin: 0;
  background: white;
  font-size: 36px;
  color: $color-light-bluish-grey;
  font-family: $font-primary;
  font-weight: 200;
  text-align: center;
  display: inline-block;
  position: relative;
  top: -27px;
}

.login__border {
  height: 500px;
  width: 3px;
  border-left: 3px solid $color-t-light-grey;
}
