day-calendar {
  height: 100%;

  .fc-right {
    display: none;
  }

  .fc-head-container .fc-widget-header {
    border: 0 solid transparent;
  }

  &.fc td {
    border: 0 solid transparent;
  }

  .fc-time-grid .fc-event {
    border-radius: 0;
    border-width: 0;
    border: 1px solid transparent;
  }

  .fc-event {
    background-color: rgba(75, 186, 247, 0.79);
  }

  .fc-edit-icon {
    font-size: 20px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .fc-day-header {
    color: white;
  }

  .fc-time-grid-container .fc-divider, .fc-content-skeleton .fc-divider {
    display: none !important;
  }

  .fc-slats td.fc-widget-content {
    border-top: 1px solid #ddd;
  }

  &.fc-unthemed .fc-today {
    background-color: transparent;
  }

  .fc-head {
    display: none;
  }

  .fc-scroller::-webkit-scrollbar {
    display: none;
  }

  .fc-slats {
    padding-bottom: 40px;

    tr {
      .fc-time {
        text-align: left;
        color: $color-light-bluish-grey;
        font-weight: 700;
        font-size: 18px;
        vertical-align: bottom;
      }
    }
  }

  .fc-time-grid .fc-slats td {
    height: 2em;
  }

  .fc-time-grid .fc-slats .fc-minor td {
    border-top: 0px;
  }

  .fc-widget-content {
    border-color: #E3E7E8;
  }

  .fc-minor {
    border-top: 0px solid transparent;
    background-image: linear-gradient(to right, #E3E7E8 50%, rgba(255,255,255,0) 0%);
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
  }

  .fc-content {
    font-size: 20px;
    padding: 5px;

    .fc-time {
      font-size: 20px;
      padding: 0px;
    }

    .fc-edit-icon {
      font-size: 25px;
    }
  }
}
