month-calendar {
  height: 100vh;

  // FullCalendar overwrites
  .fc-today-button {
    display: none;
  }

  .fc-day-grid-event {
    margin: 0;
    border-radius: 0;
    border: 0px;
    padding: 2px;
    background-color: rgba(75, 186, 247, 0.79);
    border: 1px solid rgba(75, 186, 247, 0.79);
  }

  .fc-head .fc-widget-header {
    margin-right: 0px !important;
    border-right-width: 0px;
  }

  .fc-head-container, .fc-widget-content {
    border: none;
  }

  .fc-head .fc-day-header {
    background-color: white;
  }

  .fc-day, &.fc th {
    background-color: #E0FCFF;
    border: 3px solid white;
  }

  &.fc-unthemed .fc-today {
    background-color: #E0FCFF;
    border: 3px solid white;
    border-bottom: 0px;
  }

  .fc-scroller {
    overflow: visible !important;
  }

  .month-calendar__active-day, &.fc-unthemed .fc-today.month-calendar__active-day  {
    background-color: #fcf8e3;
  }
}
