.to-do-list__title {
  font-size: 48px;
  color: $color-dark-bluish-grey;
  margin-bottom: 0.33em;
}

.to-do-form {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.to-do-form__name-input {
  font-size: 36px;
  margin-left: 0.33em;

  .s-input-group input {
    font-size: 36px;
    border-color: $color-light-grey;
  }

  .s-input__errors {
    position: absolute;
  }
}
