<div class='top-bar__logo'>
  <img src='/assets/images/flow-logo.svg'>
</div>

<div class='top-bar__actions'>
  {{#if session.isAuthenticated}}
    <span class='top-bar__user-email'>{{currentUser.email}}</span>
    <a class='s-btn s-btn--plain' {{action 'invalidateSession'}}>
      <span class='s-btn__text'>Logout</span>
    </a>
  {{else}}
    {{#link-to login class='s-btn s-btn--plain'}}

    {{/link-to}}
  {{/if}}
</div>
