.top-bar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.top-bar__logo {
  display: inline-block;

  img {
    height: 50px;
  }
}

.top-bar__username {
  display: inline-block;
  text-align: right;
}
