.top-bar {
  position: fixed;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.15s;
  z-index: 400;
  pointer-events: none;

  &:hover {
    opacity: 1;

    .top-bar__user-email {
      color: transparentize($color-light-bluish-grey, 0.6);
    }
  }

  .s-quote {
    margin-left: 20px;
  }

  .s-quote__text {
    color: transparentize($color-light-bluish-grey, 0.3);
    font-size: 16px;
  }

  .s-quote__author {
    font-size: 12px;
  }
}

.top-bar__logo {
  display: inline-flex;
  pointer-events: initial;

  img {
    height: 50px;
  }
}

.top-bar__actions {
  pointer-events: initial;
  display: inline-block;
}

.top-bar__user-email {
  color: transparent;
  transition: color 1s;
}
