{{navigation/top-bar}}

<div class='application__error'>
  <div class='application__error__body'>
    <div class='application__error__quote'>
      Anything that can go wrong, will go wrong.
    </div>
    <div class='application__error__message'>
      Don't panic, but we've experienced an error with your request!
      Try refreshing your browser first, but if that doesn't do the trick, kindly
      <a href='mailto:samanthakpower@gmail.com'>let me know.</a>
    </div>
  </div>
</div>
