<div class='home'>
  <div class='home__month'>
    {{month-calendar events=events activeDate=activeDate setActiveDate=(action "setActiveDate")}}
  </div>

  <div class='home__day'>
    {{day-calendar events=events activeDate=activeDate}}
  </div>
</div>
