<div class='home'>
  <div class='home__month'>
    {{month-calendar
      events=events
      activeDate=activeDate
      setActiveDate=(action "setActiveDate")
      updateEvent=(action "updateEvent")}}
  </div>

  <div class='home__day'>
    <span class='home__active-date'>{{activeDateSemantic}}</span>
    <div class='home__day-calendar'>
      {{day-calendar
        events=events
        activeDate=activeDate
        openCreateEventModal=(action "openCreateEventModal")
        updateEvent=(action "updateEvent")}}
    </div>
  </div>
</div>

{{modals/create-event showModal=showCreateEventModal newEvent=newEvent}}
