<div class='home__loading'>
  <div class='home__loading__body'>
    <div class='home__loading__circles'>
      <div class='loading__circle'></div>
      <div class='loading__circle'></div>
      <div class='loading__circle'></div>
    </div>
    {{time-quote class='home__loading__quote'}}
  </div>
</div>
