@keyframes excitedBtn {
  from {
    bottom: -2px;
  }

  to {
    bottom: 3px
  }
}

create-event-form {
  display: block;
  padding: 20px;

  .event-form__delete {
    color: $color-light-red;
    font-size: 12px;
    display: block;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
  }
}
